.project-page {
    &__background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: var(--color-tertiary);
    }

    &__main {
        max-width: var(--max-content-width);
        margin: 0 auto;
        padding: 2rem;
    }
}
