.header {
    position: static;

    display: grid;
    grid-template-columns: 1fr [title-start] max-content [title-end] 1fr;
    align-items: center;

    padding: 1.5rem;
    background: var(--color-primary);

    &__title {
        &,
        &:link,
        &:visited {
            grid-column: title-start / title-end;
            text-decoration: none;
        }
    }

    &__nav {
        grid-column: title-end / -1;
        justify-self: end;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        justify-content: end;
        grid-gap: 1.5rem;
    }
}
