.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: 1fr [title-start] max-content [title-end] 1fr;
    align-items: center;

    padding: 1.5rem;
    background: var(--color-primary);
    box-shadow: var(--shadow-dark);

    &__title {
        &,
        &:link,
        &:visited {
            grid-column: title-start / title-end;
            text-decoration: none;
        }
    }
}

.nav {
    grid-column: title-end / -1;
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-content: end;
    grid-gap: 1.5rem;

    &__header {
        &:hover {
            box-shadow: 0 0 0.4rem 0.1rem var(--color-white);
        }
    }

    &__menu {
        top: 7rem;
        right: -1rem;

        display: grid;
        grid-gap: 1rem;

        padding: 1rem;
        border-radius: var(--border-radius);
        background-color: var(--color-primary);
        box-shadow: var(--shadow-dark);
    }

    &__item {
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        grid-gap: 1rem;

        padding: 1rem;
        background-color: var(--color-white);
        border-radius: var(--border-radius-small);
    }
}
