$toast-opacity: 0.85;

.toast-list {
    position: fixed;
    display: grid;
    grid-gap: 1rem;
    z-index: 999999;
}

%text-clamp {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.toast {
    font-size: 1.4rem;
    overflow: hidden;
    pointer-events: auto;

    width: 30rem;
    max-height: 10rem;

    padding: 1rem;

    opacity: $toast-opacity;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-dark);

    color: var(--color-white);

    transition: 0.3s ease;

    &:hover {
        opacity: 1;
    }

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
    }

    &__content {
        display: flex;
        align-items: center;
        overflow: hidden;

        margin-top: -2rem;
        padding-right: 2.4rem;
    }

    &__icon {
        align-self: flex-start;
        margin-right: 1rem;
    }

    &__title {
        @extend %text-clamp;

        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    &__description {
        @extend %text-clamp;

        font-size: 1.4rem;
        line-height: 1;
    }

    &--success {
        background: linear-gradient(
            90deg,
            var(--color-success-saturated) 0,
            var(--color-success-saturated) 4.9rem,
            var(--color-success) 4.9rem
        );
    }

    &--error {
        background: linear-gradient(
            90deg,
            var(--color-error-saturated) 0,
            var(--color-error-saturated) 4.9rem,
            var(--color-error) 4.9rem
        );
    }
}

.top-right {
    top: 1.2rem;
    right: 1.2rem;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.bottom-right {
    bottom: 1.2rem;
    right: 1.2rem;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
}

.top-left {
    top: 1.2rem;
    left: 1.2rem;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

.bottom-left {
    bottom: 1.2rem;
    left: 1.2rem;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.toast-transition {
    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: $toast-opacity;
        transition: opacity 500ms ease-in;
    }
    &-exit {
        opacity: $toast-opacity;
        transform: translateY(0);
    }
    &-exit-active {
        opacity: 0;
        transform: translateY(-50%);
        transition: all 250ms ease-in;
    }
}
