%name {
    padding: 1rem;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-small);
}

.project-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 0.5rem;
    }

    &__project-name {
        @extend %name;
    }

    &__team-name {
        @extend %name;
        font-family: var(--font-secondary);
        font-size: 2rem;
        font-weight: 300;
        cursor: pointer;

        &:link,
        &:visited {
            text-decoration: none;
        }
    }

    &__settings {
        cursor: pointer;
        color: var(--color-primary);
    }

    &__input {
        @extend %name;
        font-size: 2em;
        padding: 1.4rem 1rem;
        color: var(--color-grey-dark);
        text-align: center;
        max-width: 100vw;
        border-style: none;
        border-width: 0;
        outline: none;

        &:focus {
            box-shadow: inset 0 0 0 0.2rem var(--color-primary);
        }
    }
}
