.btn {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-primary);
    color: var(--color-primary);

    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    cursor: pointer;

    transition: all 0.2s ease-in;

    &:disabled {
        background-color: var(--color-grey-light);
        color: var(--color-secondary);
    }

    &:hover,
    &:active {
        background-color: var(--color-white-dark);
    }

    &--animate-pop {
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            height: 100%;
            width: 100%;
            background-color: var(--color-primary);
            border-radius: 100%;
            transition: all 0.4s;
        }

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: translateY(-0.1rem);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }

        &:hover::after {
            transform: scale(1.4);
            opacity: 0;
        }
    }
}
