.btn {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-primary);
    color: var(--color-primary);

    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-white);

    &:disabled {
        background-color: var(--color-grey-light);
        color: var(--color-secondary);
    }
}
