%form-input-style {
    padding: 1rem;
    color: var(--color-grey-dark);
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--color-quaternary);

    &::placeholder {
        color: #a2a2a2;
    }
}

.form {
    display: grid;
    padding: 0 5rem;

    &__title {
        color: var(--color-white);
        justify-self: center;
    }

    &__group {
        margin-bottom: 2rem;
    }

    &__label {
        position: relative;
        display: grid;
        grid-gap: 0.5rem;
        font-size: 2rem;
        color: var(--color-white);
    }

    &__input {
        @extend %form-input-style;

        &--error {
            &,
            & > div {
                box-shadow: inset 0 0 0 0.3rem var(--color-error);
            }
        }
    }

    &__error {
        position: absolute;
        bottom: -2.4rem;
        font-size: 1.5rem;
        font-family: var(--font-secondary);
        color: var(--color-error);
    }

    &__select {
        & > div {
            @extend %form-input-style;
            padding: 0.5rem 0;
        }

        & input,
        &__single-value {
            color: var(--color-grey-dark) !important;
        }
    }

    &__textarea {
        @extend %form-input-style;
        overflow-y: scroll;
        word-break: break-all;
        resize: none;
        width: 100%;
        min-height: 15rem;
        max-height: 40rem;
        margin-bottom: -1rem;
    }

    &__submit {
        justify-self: center;
        margin-top: 1rem;
        width: 95%;
    }
}
