%form-input-style {
    padding: 1rem;
    color: var(--color-grey-dark);
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--color-quaternary);
}

.form {
    display: grid;
    // grid-gap: 2rem;
    padding: 0 5rem;

    &__title {
        color: var(--color-white);
        justify-self: center;
    }

    &__label {
        position: relative;
        display: grid;
        grid-gap: 0.5rem;
        font-size: 2rem;
        color: var(--color-white);
        padding-bottom: 2rem;
    }

    &__input {
        @extend %form-input-style;

        &--error {
            &,
            & > div {
                box-shadow: inset 0 0 0 0.3rem var(--color-error);
            }
        }
    }

    &__error {
        position: absolute;
        bottom: -0.2rem;
        font-size: 1.4rem;
        color: var(--color-error);
    }

    &__select {
        & > div {
            @extend %form-input-style;
            padding: 0.5rem 0;
        }

        & input,
        &__single-value {
            color: var(--color-grey-dark) !important;
        }
    }

    &__submit {
        justify-self: center;
        margin-top: 1rem;
        width: 95%;
    }
}
