.input-editable {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: default;

    &--editable {
        cursor: pointer;
    }

    &__label {
        flex-grow: 1;
        margin-right: 1rem;
    }

    &__input {
        width: 100%;
        display: none;
    }

    &__buttons {
        display: none;
    }

    &__icon {
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-right: 1rem;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }

        &--save {
            background-color: #32b67a;
        }
    }

    &__textarea {
        flex: 0 0 100%;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    &--is-editing &__child {
        display: none;
    }

    &--is-editing &__input {
        display: block;
    }

    &--is-editing &__buttons {
        display: block;
    }
}
