.input-editable {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-row-gap: 2rem;
    align-items: center;
    cursor: default;

    &--editable {
        cursor: pointer;
    }

    &__input {
        width: 100%;
        display: none;
    }

    &__buttons {
        display: none;
        margin-left: 1rem;
    }

    &__icon {
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &--save {
            background-color: #32b67a;
        }
    }

    &__textarea {
        grid-column: 1 / -1;
    }

    &--is-editing &__child {
        display: none;
    }

    &--is-editing &__input {
        display: block;
    }

    &--is-editing &__buttons {
        display: block;
    }
}
