@import './variable';

.animate-hover-primary {
    color: var(--color-primary);
    transition: background-color 200ms ease-in;

    &:hover,
    &:active {
        color: var(--color-primary-dark);
    }
}

.animate-hover-white {
    color: var(--color-white);
    transition: background-color 200ms ease-in;

    &:hover,
    &:active {
        color: var(--color-grey-light);
    }
}

.animate-hover-bg-secondary {
    background-color: var(--color-secondary);
    transition: background-color 200ms ease-in;

    &:hover,
    &active {
        background-color: var(--color-primary);
    }
}

.modal-transition {
    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: all 300ms ease;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: all 300ms ease;
    }

    @media only screen and (max-width: $media-small) {
        &-enter {
            transform: translateY(100%);
        }
        &-enter-active {
            transform: translateX(0);
        }
        &-exit {
            transform: translateX(0);
        }
        &-exit-active {
            transform: translateY(100%);
        }
    }
}
