:root {
    --color-primary: #2699fb;
    --color-secondary: #7fc4fd;
    --color-tertiary: #bce0fd;
    --color-quaternary: #f1f9ff;

    --color-grey-dark: #7f7f7f;
    --color-grey-light: #eaeaea;

    --color-white: #fff;

    --color-error: #e1655e;

    --font-primary: 'Chivo', sans-serif;
    --font-secondary: 'Overpass', sans-serif;

    --border-radius: 2rem;
    --border-radius-small: 1rem;

    --shadow-dark: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    --shadow-dark-big: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);

    --max-content-width: 1200px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    margin: 0;

    color: var(--color-grey-dark);
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.6;
}
