.heading-primary {
    font-size: 3.2rem;
    color: var(--color-white);
}

.heading-secondary {
    font-size: 3rem;
}

.heading-tertiary {
    font-size: 2rem;
}

.paragraph {
    font-size: 2rem;
    font-family: var(--font-secondary);
}
