.member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    color: var(--color-primary);
    font-size: 1.6rem;
    padding: 2rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__email {
        font-family: var(--font-secondary);
        margin-left: 1rem;
        margin-right: auto;
    }

    &__role {
        font-weight: 600;
    }

    &__button {
        cursor: pointer;
        margin-left: 1rem;
    }
}
