.team-settings {
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;

    &__button {
        max-width: 30rem;
        margin-bottom: 2rem;

        &--quit {
            background-color: transparent;
            padding: 0;
            // background-color: red;
            &:hover {
                color: var(--color-primary-dark);
                background-color: transparent;
            }

            &:focus {
                outline: none;
            }
        }

        &--delete {
            padding: 2rem;
        }
    }

    &__paragraph {
        font-size: 2rem;
        font-family: var(--font-secondary);
        margin-top: -2rem;
        margin-bottom: 2rem;
    }
}
