.home-page {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 2rem;

    &__title {
        display: grid;
        place-items: center;
        color: var(--color-grey-dark);
    }
}
