@import '../../style/base/variable';

.team-members {
    &__paragraph {
        text-align: center;
        margin-bottom: 2rem;
    }
}
.add-member {
    padding: 2rem;
    @media only screen and (max-width: $media-small) {
        padding: 0;
        margin: 2rem 0;
    }

    &__title {
        font-family: var(--font-secondary);
        margin-bottom: 1rem;
        @media only screen and (max-width: $media-small) {
            text-align: center;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__search {
        flex-grow: 1;
        margin-right: 1rem;

        & > div {
            background-color: var(--color-white) !important;
        }
    }

    &__button {
        padding: 0.5rem 3rem;
        border-radius: 0.5rem;
    }
}
