.task-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
    align-items: start;
}

.task-list {
    padding: 1rem;
    background-color: var(--color-grey-light);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-dark-big);

    &__title {
        margin-left: 1rem;
    }

    &__list {
        display: grid;
        grid-gap: 1rem;
    }
}

.task-transition {
    &-enter {
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    &-enter-active {
        height: 100%;
        overflow: hidden;
        opacity: 1;
        transition: all 500ms ease;
    }
    &-exit {
        height: 100%;
        overflow: hidden;
        opacity: 1;
    }
    &-exit-active {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 500ms ease;
    }
}
