@import '../../style/base/variable';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    min-height: 100vh;
    overflow-y: auto;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
    }

    &__content {
        margin: 9rem;
        width: 60rem;
        background-color: var(--color-primary);
        border-radius: var(--border-radius);
        padding: 1rem;
        z-index: 999;

        @media only screen and (max-width: $media-small) {
            margin: 0;
            width: 100vw;
            min-height: 100vh;
        }
    }

    &__content--with-button {
        padding-bottom: 3.6rem;
    }

    &__content--with-button > &__children {
        margin-top: -2.6rem;

        @media only screen and (max-width: $media-small) {
            margin-top: 0;
        }
    }

    &__children {
        padding: 0 5rem;
        @media only screen and (max-width: $media-small) {
            padding: 0 2rem;
        }
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        color: var(--color-white);

        &-icon {
            cursor: pointer;
        }
    }
}
