@import '../../style/base/variable';

.team-section {
    margin-bottom: 2rem;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__title {
        margin-right: auto;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }

    &__members {
        display: flex;
        align-items: center;
        white-space: nowrap;

        cursor: pointer;
        color: var(--color-primary);
        margin-right: 2rem;

        &-icon {
            margin-right: 0.5rem;
            align-self: center;
        }

        @media only screen and (max-width: $media-extra-small) {
            margin-right: 0;

            &-icon {
                font-size: 3.6rem !important;
            }

            &-text {
                display: none;
            }
        }
    }

    &__settings {
        &,
        &:link,
        &:visited {
            margin-bottom: -0.5rem;
            text-decoration: none;
            color: var(--color-primary);
        }
    }
}

.member-modal {
    display: grid;
    &__title {
        justify-self: center;
        color: var(--color-white);
        margin-bottom: 2rem;
    }
}
