.team-section {
    margin-bottom: 2rem;
    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-right: auto;
    }

    &__members {
        display: flex;

        cursor: pointer;
        color: var(--color-primary);
        margin-right: 2rem;

        & > i {
            margin-right: 0.5rem;
            align-self: center;
        }
    }

    &__settings {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: var(--color-primary);
        }
    }

    &__projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
        grid-gap: 1rem;
    }

    &__no-project {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;

        & > i {
            margin-right: 0.5rem;
        }
    }
}

.member-modal {
    display: grid;
    padding: 0 5rem;

    &__title {
        justify-self: center;
        color: var(--color-white);
        margin-bottom: 2rem;
    }
}
